* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  background: #fff;
  color: #000;
}

.navbar {
  padding-left: 20px;
  padding-right: 20px;
  background-color: lightgrey;
  height: 70px;
}

.menu-item {
  margin-top: 15px;
}
